@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: hsl(233, 47%, 7%);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.container{
    background-color:  hsl(244, 38%, 16%);
    width: 900px;
    height: 320px;
    border-radius: 8px;
    padding-left: 50px;
}

span{
    color: hsl(277, 64%, 61%);
}

img{
    float: right;
    width: 450px;
    height: 320px;
    border-radius: 0 8px 8px 0;
    filter: grayscale(30%) sepia(50%) hue-rotate(250deg) brightness(70%) contrast(190%);
}

h1{
    padding: 50px 0 20px 0;
}

h2{
    float: left;
    font-size: 19px;
    padding-right: 90px;
    font-size: 18px;
}

h3{
    font-family: 'Lexend Deca';
    float: left;
    padding: 5px 40px 0 0;
    font-weight: lighter;
    letter-spacing: 1px;
}

p{
    font-weight: lighter;
    padding-bottom: 40px;
}