@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: hsl(233, 47%, 7%);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.container{
    background-color:  hsl(244, 38%, 16%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: hsl(277, 64%, 61%);
}

.left{
    width: 100%;
    padding: 50px;
}

.right{
    width: 100%;
}

img{
    width: 100%;
    border-radius: 0 8px 8px 0;
    filter: grayscale(30%) sepia(50%) hue-rotate(250deg) brightness(70%) contrast(190%);
}

.bloc{
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 19px;
}

h3{
    font-family: 'Lexend Deca';
    float: left;
    font-weight: lighter;
    letter-spacing: 1px;
}

p{
    font-weight: lighter;
    margin-bottom: 40px;
    margin-top: 15px;
}

@media screen and (max-width: 375px) {
    .container{
        text-align: center;
        flex-direction: column-reverse;
        width: 80%;
        .bloc{
            flex-direction: column;
            gap: 25px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
        img{
            border-radius: 8px 8px 0 0;
        }
    }
}